header{
    background-color: whitesmoke;
    border: 2px solid rgb(80, 80, 153);
    color:grey;
    height: 500px;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#senai{
    height: 60px;
    width: 250px;
    padding: 0%;
    margin-right: 100px;
    margin-left: 250px;
}
